* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
  margin-right: 10px;
}
nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: #ccc;
}
nav ul li a:hover {
  transition: 0.2s;
}
@media (max-width: 800px) {
  nav {
    height: 200px;
    flex-direction: column;
    gap: 20px;
  }
  nav ul {
    flex-direction: column;
  }
}
main {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
main .modal-corpo-control {
  width: 100%;
  padding: 40px;
}
main .table-responsive {
  box-shadow: #64646f33 0px 7px 29px 0px;
  border-radius: 7px;
  padding: 20px;
  text-align: center;
}

main .table-modal {
  width: 100%;
}

main .btn-modal-info {
  display: flex;
  justify-content: center;
  gap: 20%;
}

@media (max-width: 500px) {
  main {
    padding: 1rem;
  }
}

/* MODAL FORM */
main .form {
  height: 100%;
  width: 50%;
}
main .form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .form form input {
  height: 40px;
}
